{% extends "base.html.twig" %}

{% block title %}Incription{% endblock %}


{% block body %}
{{form_start(registrationForm)}}

    <h1 class="h3 mb-3 font-weight-normal">Créer un compte</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_widget(registrationForm)}}
        
        <button class="btn btn-lg btn-primary" type="submit" value="Register">
        Je crée mon compte
        </button>


    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

{{form_end(registrationForm)}}
{% endblock %}