<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}IDtour!{% endblock %}</title>
        
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md navbar-light" role="navigation">
                <!-- Logo & Text-->
                <div data-logobg="skin6" class="navbar-header">
                    <div id="header-logo" class="navbar-brand">
                        <b class="logo-icon">
                            <img src="{{ asset('/images/logo-icon.png') }}" alt="">
                        </b>

                        <span class="logo-text">
                            <img src="{{ asset('/images/logo-text.png') }}" alt="">
                        </span>
                    </div>
                </div>
                <!-- Right dropdown menu -->
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav float-left mr-auto ml-3 pl-1"></ul>
                    	<ul class="navbar-nav float-right">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Connexion
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">S'inscrire</a>
                                <a class="dropdown-item" href="#">Se connecter</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Se déconnecter</a>
                                </div>
                            </li>
                        </ul>
                </div>
            </nav>
        </header>

        <div class="container">
        {% block body %}{% endblock %}
        </div>

       <!-- Footer -->
        <footer class="page-footer font-small blue pt-4">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

            <!-- Grid left column : About us -->
            <div class="col-md-6 mt-md-0 mt-3">
                <!-- Content left column-->
                    <div class="row">
                        <div class="col-md-2">
                            <!-- Logo -->
                            <a class="" href="#"><img src="{{ asset('/images/logo-icon.png') }}" alt=""></a>
                        </div>
                        <div class="col-md-4">
                            <h5 class="text-uppercase">A propos</h5>
                        </div>
                    </div>
                <p>Pourquoi ce site? Parce que le web est devenu une jungle : on y trouve tout mais par toujours au même endroit! Nous, on a voulu faciliter la vie de ceux qui préparent leurs vacances et séjours et qui en ont marre de d'aller sur 20 sites différents. Ce site est collaboratif, il vise à ce que chacun d'entre nous fasse partager ses bons plans touristiques, qu'ils soient atypiques, familiaux, sportifs...et que sais-je encore?!</p>
            </div>

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid center column : Quicks Links -->
            <div class="col-md-3 mb-md-0 mb-3">
                <!-- Links-->
                <h5 class="text-uppercase">Liens</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Ajouter un bon plan</a>
                    </li>
                    <li>
                        <a href="#!">Plan du site</a>
                    </li>
                    <li>
                        <a href="#!">Mentions légales</a>
                    </li>
                </ul>
            </div>

            <!-- Grid right column  : Contact us-->
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase text-center">Contactez-nous</h5>
                    <!-- Social buttons -->
                    <ul class="list-unstyled list-inline text-center">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-fb mx-1" href="#!">
                            <i class="fa fa-envelope" aria-hidden="true"> </i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-fb mx-1" href="#!">
                            <i class="fa fa-facebook-f" aria-hidden="true"> </i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-tw mx-1" href="#!">
                            <i class="fa fa-twitter" aria-hidden="true"> </i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-gplus mx-1" href="#!">
                            <i class="fa fa-instagram" aria-hidden="true"> </i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-li mx-1" href="#!">
                            <i class="fa fa-linkedin" aria-hidden="true"> </i>
                            </a>
                        </li>
                    </ul>
            </div>

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2020 Copyright :
                <a href="https://idtour.fr/"> IDtour.fr</a>
            </div>
        </footer>

        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
